/* julia maxwell homework 3 stylesheet. worked with LJ Varghese, Joseph Muller, and Mark Ramirez. some code adapted from a stack overflow post, link is cited on relevant lines of code */

body {
  font-family: "Quicksand", sans-serif;
  background-image: url("../images/pidgeon-background.jpg");
  background-color: #dddddd;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
  color: #c12258;
}
p.main{
  color: black;
  font-size: 18px;
  padding-top:15px;
}

p.datacite{
  color: black;
  font-size: 18px;
  padding-top:15px;
}

a {
  font-size: 18px;
  color: #c12258;
  text-decoration: underline;
}

:focus{
border: 1px solid red;
}

table {
  border-collapse: separate;
  border:2px solid black;
  border-radius: 10px;
  margin:10px;
}

tr, td{
  text-align: center;
  padding: 15px;
  border-top: 2px solid black;

}

th{
  border-top: 2px solid black;
}

th.colhead{
  column-width: 150px;
  padding: 10px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  background: #7e0830;
}

 /* I adapted code for lines 65-78 from this stack overflow post: https://stackoverflow.com/questions/4932181/rounded-table-corners-css-only */

.colhead:first-child{
    border-top-left-radius: 10px;
}
.colhead:last-child{
    border-top-right-radius: 10px;
}

tbody tr:last-child th.rowhead:first-child{
    border-bottom-left-radius: 10px;
}

tbody tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
}

tr:nth-child(even) {
  background: #dddddd;
}

tr:hover {
  background-color: #fab9cf;
}

footer {
 color: white;
 background-color: black;
 height: 70px;
 text-align: center;
 position:sticky;
 padding: 20px;
}
